<div>
  <h1>Users</h1>
  <ul>
    <% if @users && @users.not_nil!.size > 0 %>
      <% @users.not_nil!.each do |user| %>
        <li><%= user.id %>. <%= user.name %> <%= user.posts.size %></li>
      <% end %>
    <% else %>
      <li>No users found</li>
    <% end %>
  </ul>
</div>
